@import './theme/source/netflix';

li {
    list-style-type: none !important;
}

.shell {
    font-family: 'monaco';
    background: #000;
    width: 90%;
    margin: 0 !important;

    li {
        padding-left: 1em;

        &::before {
            @include icon-prompt;
        }
    }
}
